<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="homepage">

    <nav class="main-nav">
        <a href="/data/search/id" class="nav-link">Search Movie by ID</a>
        <a href="/data/search/title" class="nav-link">Search Movie by Title</a>
        <a href="/search/invoiceNo" class="nav-link">Search by Invoice Number</a> 
         <a href="/viewAllMovies" class="nav-link">View All movies</a> 
         <a href="/viewData" class="nav-link">Movies with Websites</a> 

    </nav>
</body>
</html>
